$font-normal: 'Proxima Nova Rg';

$blue: #2bccc4;
$blue-fade: rgba(43, 204, 196, 0.8);
$white: #fff;

$green: #337a37;
$green-fade: rgba(51, 122, 55, 0.8);

$pink: #ea8070;
$pink-fade: rgba(234, 128, 112, 0.8);